.character-create-container {
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

.character-create {
    width: 20em;
    height: 25em;
    background: url("https://media.istockphoto.com/id/182149686/photo/an-abstract-of-a-vintage-piece-of-paper.jpg?s=612x612&w=0&k=20&c=933BHVxfamtJvs_HR05HRKuxUqVE8q4nvAs1TVPdd_w=");
    border-radius: 1em;
    text-align: center;
    box-shadow:

        0 0 5px 5px rgb(20, 14, 1);
    /* outer cyan */
}

.h2-title {
    color: rgb(0, 0, 0);
}

.attribute-name {
    color: #000;
}

.remaining-points-red {
    color: red;
}

.remaining-points-green {
    color: green;
}

.create-buttons {
    margin: 0.3em 0.6em;
}

.finalize-button {
    margin-top: 0.4em;
}