.character-create {
    width: 400px;
    height: 400px;
    padding-top: 4em;
    background: url("https://media.istockphoto.com/id/182149686/photo/an-abstract-of-a-vintage-piece-of-paper.jpg?s=612x612&w=0&k=20&c=933BHVxfamtJvs_HR05HRKuxUqVE8q4nvAs1TVPdd_w=")
}
.h2-title {
    color: rgb(0, 0, 0);
}
.attribute-name {
    color: #000;
}
.remaining-points-red{
    color: red;
}
.remaining-points-green{
    color: green;
}

.create-buttons {
    margin: 0.3em 0.6em;
}
.finalize-button {
   margin-top: 2em;
}