.home-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.welcome-message {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 3em;
    margin: 0.4em auto;
    text-shadow: 4px 4px #000000;
}

.register-message {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    color: #fff;
    text-shadow: 3px 2px #000000;
    font-size: 1.6em;
}

.login-message {
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 3px 2px #000000;
    font-size: 1.5em;
}

.register-welcome {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    background: darkgreen;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    color: #fff;
}

.register-welcome:hover {
    transition: ease-in-out 0.5s;
    background: rgb(8, 164, 8);
}

.login-welcome {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    background: darkred;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    color: #fff;
}

.login-welcome:hover {
    transition: ease-in-out 0.5s;
    background: rgb(201, 9, 9);
}

.welcome-img-right {
    position: absolute;
    top: 1em;
    right: 22em;
    width: 25em;
}
.welcome-img-right-logged {
    position: absolute;
    top: 25em;
    width: 20em;
}