#allCharacters {
    display: flex;
    flex-wrap: wrap;
    width: 20em;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5em;
    padding: 1em;
    text-align: center;
    border: 2px solid grey;
    box-shadow:
        0 0 2px 2px rgb(0, 0, 0);
    /* outer cyan */
}

.character-details-page {
    display: flex;
    justify-content: center;


}

.allCharacters:hover {
    opacity: 1;
}

.allCharacters-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 14em;
}

.char-name {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #242424;
    border-radius: 0.3em;
    padding: 0.5em;
    color: #fff;
}

.char-attribute-attack {
    display: flex;
    justify-content: center;
    background: rgb(116, 2, 2);
    border-radius: 0.3em;
}

.char-attribute-defense {
    display: flex;
    justify-content: center;
    background: rgb(8, 8, 152);
    border-radius: 0.3em;
}

.char-attribute-dexterity {
    display: flex;
    justify-content: center;
    background: rgb(14, 66, 14);
    border-radius: 0.3em;
}

.char-attribute-total-power {
    display: flex;
    justify-content: center;
    background: rgb(125, 87, 11);
    border-radius: 0.3em;
}

.char-not-owned {
    background: #fff;
    color: #000;
    font-size: 1.3em;
    padding: 0.5em;
    border-radius: 1em;
}

.go-back-button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    background:rgb(116, 2, 2);
    border-radius: 1em;
    padding: 1em;
}