.character-roster {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-roster-h1 {
    display: inline-block;
    justify-content: center;
    font-weight: 500;
    font-family: inherit;
    padding: 0.5em;
    border-radius: 0.5em;
    background: url('https://t3.ftcdn.net/jpg/04/90/52/56/360_F_490525617_QKrYK6KNjDLZin65pWT1BaBGD2jkMkAc.jpg')
}

.create-button {
    display: inline-block;
    text-decoration: none;
    background: darkred;
    color: #fff;
    font-size: 1.5em;
    padding: 1em;
    border-radius: 1em;
}

.create-button:hover {
    background: rgb(174, 0, 0);
}

.create-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.no-characters {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #000;
    background: white;
    padding: 0.2em;
    border-radius: 0.5em;

}